.basic-details-card {
  display: flex;
  justify-content: center;
}

.main-card {
  width: 40em;
  margin-top: 1em;
}

.card-header {
  display: flex;
  justify-content: center;
}

.card-actions {
  display: flex;
  justify-content: flex-end;
}

.basic-form {
  display: flex;
  justify-content: center;
  padding-top: 1em;
  flex-direction: column;
  align-items: center;
}

.form-field {
  width: 25em;
}

@media screen and (max-width: 768px) {
  .main-card {
    width: 100%;
    margin-top: 0em;
  }

  .form-field {
    width: 20em;
  }

  .basic-form {
    padding-top: 0em;
  }

  .mat-form-field-wrapper {
    padding: 0em;
  }

  .card-actions {
    justify-content: center;
    margin-bottom: 5% !important;
  }
}
