.basic-details-card {
  display: flex;
  justify-content: center;
}

.main-card {
  width: 80em;
  margin-top: 2em;
}

.card-header {
  display: flex;
  justify-content: center;
  h4 {
    font-family: "monserrat", serif;
    font-weight: bold;
    font-size: 2em;
    margin: 0 0 1em;
    text-align: center;
  }
}

.card-actions {
  display: flex;
  justify-content: flex-end;
  margin: 1em 0;
}

.basic-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.form-field {
  width: 25em;
}
.question {
  font-family: Noto Serif, serif;
  font-size: 30px;
  color: #4f5452;
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 1.5em;
}
.question-box {
  margin-top: 0.5em;
}
.decisions {
  display: flex;
  justify-content: space-evenly;
  padding-top: 2em;
  align-content: center;
}

.btn-val {
  width: 10em;
}

.active {
  background-color: #d4f5ff;
}

@media screen and (max-width: 768px) {
  .main-card {
    width: 100%;
    margin-top: 0.5em;
  }

  .card-header {
    h4 {
      margin: 0 0 0;
      font-size: 1em;
    }
  }

  .question {
    font-size: 13px;
    line-height: 1.3em;
  }

  .decisions {
    padding-top: 1em;
  }

  .btn-val {
    width: 1em;
    line-height: 1.5em;
    padding: 0;
    font-size: 9px;
  }

  .mat-card {
    padding: 10px 0;
    margin: 10px 0;
  }

  .mat-raised-button {
    white-space: unset;
  }

  .card-actions {
    justify-content: center;
    margin-bottom: 5% !important;
  }

  .basic-form {
    display: inline;
  }
}
