.colleges-main {
  padding: 0 10em;
  margin: 2em 0;
}

.search-container {
  display: flex;
  flex-direction: column;
  padding: 0 10em;
}

.colleges-container {
  display: flex;
  flex-direction: column;
  margin: 2em 0;
}

.college-card {
  margin: 0.5em 0;
}

.college-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5em 0;
}

.course-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5em 0.5em;
}

.college-name {
  font-size: 1.2em;
  line-height: 1.8em;
  font-weight: 500;
}

.course-heading {
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .colleges-main {
    padding: 0 3em;
    margin: 1em 0;
  }

  .search-container {
    padding: 0 0;
  }

  .course-content {
    flex-direction: column;
    padding: 0;
  }

  .college-content {
    flex-direction: column;
    p {
      font-size: 0.9em;
      margin: 0;
    }

    h4 {
      margin: 0;
      line-height: 1.2 em;
    }
  }
}
